{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Imagr{% endblock %}


{% if request.user.is_active %}
    {% block navbar_detail %}

        <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home'  %}">Home</a></li>
                <!-- Disable About/Contact until destinations exist
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li> -->
              </ul>
        </div><!--/.nav-collapse -->

    {% endblock %}
{% endif %}

{% block container %}

<div class="row">

{% for photo in photo_list %}

<div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="{% url 'photo' photo.id %}">
           {% thumbnail photo.image "128x128" crop="center" as im %}
                <img class="thumbnail img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
      </a>

 </div>

{% endfor %}
</div>
{% endblock %}
