{% extends "base.html" %}

{% block title %}Imagr{% endblock %}

{% block custom_css %}<link href="/static/imagr_images/jumbotron.css" rel="stylesheet">{% endblock %}

{%  block navbar_detail %}
<div class="navbar-collapse collapse">
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>
</div><!--/.navbar-collapse -->
{% endblock %}

{% block jumbo %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Imagr!</h1>
    <p>Here you can share pictures with your friends. You can also follow people who take better photos than you do.</p>
    <p><a href="/accounts/register/"class="btn btn-primary btn-lg" role="button">Sign up here &raquo;</a></p>
  </div>
</div>
{% endblock %}

{% block container %}
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/sonybigfoot.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/Dog-Wallpapers-For-Desktop.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/nn_08bwi_balloons_130913.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/computer-nerd-+-Limpet-21.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/Light-Saber-Kittens-600-400.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/serenity1.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/new072911wkd1marsattacks1.jpg" class="thumbnail img-responsive">
      </a>
  </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/7fTNh.jpg" class="thumbnail img-responsive">
      </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="#">
           <img src="/static/front_img/beer.jpg" class="thumbnail img-responsive">
      </a>
  </div>
</div>

<hr>

<footer>
  <p>&copy; Imagr 2014</p>
</footer>
{% endblock %}
