{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Home{% endblock %}
{% block container %}
<h1>Welcome to your home page {{ ImagrUser.first_name }} {{ ImagrUser.last_name }}!</h1>

<ul class="media-list">
{% for album in album_list %}

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <li class="media">
      <a href="/album/{{ album.id }}">
          {% thumbnail album.cover_photo.get.image "128x128" crop="center" as im %}
              <img class="media-object thumbnail img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{ album.title }}</h4>
        <p>{{ album.description }}
      </div>
    </li>
</div>
{% endfor %}
</ul>
{% endblock %}