{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Home{% endblock %}

{% block navbar_detail %}
    <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' user.id %}">Home</a></li>
            <!-- Disable About/Contact until destinations exist
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
    </div><!--/.nav-collapse -->
{% endblock %}

{% block container %}
<h1>Welcome to your home page {{ user.first_name }} {{ user.last_name }}!</h1>

<div class="h1">{{ user.first_name }}</div>

<div class="row">
    {% for album in album_list %}
      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/album/{{ album.id }}">
                {% thumbnail album.cover_photo.get.image "242x200" crop="center" as im %}
                    <img class="thumbnail img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>

            <div class="caption">
              <h3>{{ album.title }}</h3>
              <p> {{ album.description }}</p>
            </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}